<!--<div [ngModel]="selectedCurrency" (ngModelChange)="currencySelected.emit($event)" ngbRadioGroup name="radioBasic">
  <label *ngFor="let currency of currencies" class="btn btn-primary">
    <input type="radio" name="currency" [value]="currency"> {{ currency }}
  </label>
</div>-->

  <label *ngFor="let currency of currencies" class="btn btn-primary">
    <input type="radio" name="currency" [value]="currency"  (change)="onSelectionChange(currency)"> {{ currency }}
  </label>

<!--{{ selectedCurrency | json }}-->